.file-container {
  margin-top: 2rem;
  color: rgba(245, 246, 250, 0.7);
  position: relative;

  &::before {
    top: 78px;
    left: 1.5rem;
    position: absolute;
    content: '';
    border-right: dashed 2px rgba(220, 221, 225,1.0);
    height: 100%;
  }

  .split-line {
    border-bottom: solid 1px #c7c8cb;
  }

  .dir-layout {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .fold {
    cursor: pointer;
    position: relative;
    top: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  img {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
  }

  .img-header {
    margin-right: 5px;
  }

  .img-margin {
    margin-right: 5px;
    cursor: pointer;
  }

  .file-item {
    margin: 0.2rem 0 0.2rem 2rem;
    border-bottom: 1px solid rgba(245, 246, 250, 0.3);
    box-sizing: border-box;
    display: flex;

    &:hover {
      border-bottom: rgba(76, 209, 55,1.0) solid 1px;
    }

    .file-font {
      position: relative;
      margin-left: 0.4rem;
      top: 0.2rem;
    }
    .operate {
      margin-left: auto;
    }

  }
}